# CO‚ÇÇ Emission in the World üè≠

## About Dataset

The impact of greenhouse gas emissions, particularly carbon dioxide (CO‚ÇÇ), on the earth's climate has become an increasingly important issue in recent years. CO‚ÇÇ emissions are produced by a variety of human activities, including the burning of fossil fuels, deforestation, and industrial processes. Understanding how much CO‚ÇÇ each country is emitting is crucial in developing effective climate policies and mitigating the effects of climate change.

The CO‚ÇÇ emissions dataset provides a comprehensive overview of the amount of CO‚ÇÇ emitted by each country. The dataset includes information on CO‚ÇÇ emissions by country from 1960 to the present day. It covers all countries in the world and is compiled from various sources, including the United Nations Framework Convention on Climate Change (UNFCCC) and the International Energy Agency (IEA).

The dataset can be used by researchers, policymakers, and the general public to gain insight into the relative contributions of different countries to global CO‚ÇÇ emissions. It can also be used to monitor changes in emissions over time and to assess the effectiveness of climate policies.

Overall, the CO‚ÇÇ emissions dataset is an important resource for understanding the global climate challenge and for developing strategies to mitigate the impact of CO‚ÇÇ emissions on our planet.

The dataset is available at https://www.kaggle.com/datasets/ulrikthygepedersen/co2-emissions-by-country

# 1. Importando as Bibliotecas

In [1]:
# Data Analysis
import pandas as pd
import numpy as np

# Data Visualization
import seaborn as sns
sns.set_theme(style='whitegrid')
import matplotlib as plt
%matplotlib inline
plt.rc('figure', figsize = (18, 7.5))

## 1.1 Conhecendo os dados

In [2]:
df = pd.read_csv('Datasets/co2_emissions_kt_by_country.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13953 entries, 0 to 13952
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  13953 non-null  object
 1   country_name  13953 non-null  object
 2   year          13953 non-null  int64
 3   value         13953 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 436.2+ KB

In [4]:
df.head()

  country_code country_name  year      value
0          ABW        Aruba  1960  11092.675
1          ABW        Aruba  1961  11576.719
2          ABW        Aruba  1962  12713.489
3          ABW        Aruba  1963  12178.107
4          ABW        Aruba  1964  11840.743

In [5]:
print(f"A s√©rie hist√≥rica contemplada nos dados abrange o per√≠odo de {df['year'].min()} at√© {df['year'].max()}.")

A s√©rie hist√≥rica contemplada nos dados abrange o per√≠odo de 1960 at√© 2019.