# CO‚ÇÇ Emission in the World üè≠

## About Dataset

The impact of greenhouse gas emissions, particularly carbon dioxide (CO‚ÇÇ), on the earth's climate has become an increasingly important issue in recent years. CO‚ÇÇ emissions are produced by a variety of human activities, including the burning of fossil fuels, deforestation, and industrial processes. Understanding how much CO‚ÇÇ each country is emitting is crucial in developing effective climate policies and mitigating the effects of climate change.

The CO‚ÇÇ emissions dataset provides a comprehensive overview of the amount of CO‚ÇÇ emitted by each country. The dataset includes information on CO‚ÇÇ emissions by country from 1960 to the present day. It covers all countries in the world and is compiled from various sources, including the United Nations Framework Convention on Climate Change (UNFCCC) and the International Energy Agency (IEA).

The dataset can be used by researchers, policymakers, and the general public to gain insight into the relative contributions of different countries to global CO‚ÇÇ emissions. It can also be used to monitor changes in emissions over time and to assess the effectiveness of climate policies.

Overall, the CO‚ÇÇ emissions dataset is an important resource for understanding the global climate challenge and for developing strategies to mitigate the impact of CO‚ÇÇ emissions on our planet.

The dataset is available at https://www.kaggle.com/datasets/ulrikthygepedersen/co2-emissions-by-country

# 1. Importando as Bibliotecas

In [1]:
# Data Analysis
import pandas as pd
import numpy as np

# Data Visualization
import seaborn as sns
sns.set_theme(style='whitegrid')
import matplotlib as plt
%matplotlib inline
plt.rc('figure', figsize = (18, 7.5))

## 1.1 Conhecendo os dados

In [2]:
df = pd.read_csv('Datasets/co2_emissions_kt_by_country.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13953 entries, 0 to 13952
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  13953 non-null  object
 1   country_name  13953 non-null  object
 2   year          13953 non-null  int64
 3   value         13953 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 436.2+ KB

In [4]:
df.head()

  country_code country_name  year      value
0          ABW        Aruba  1960  11092.675
1          ABW        Aruba  1961  11576.719
2          ABW        Aruba  1962  12713.489
3          ABW        Aruba  1963  12178.107
4          ABW        Aruba  1964  11840.743

In [5]:
print(f"A s√©rie hist√≥rica contemplada nos dados abrange o per√≠odo de {df['year'].min()} at√© {df['year'].max()}.")

A s√©rie hist√≥rica contemplada nos dados abrange o per√≠odo de 1960 at√© 2019.

In [6]:
df['country_name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Chile', 'China',
       "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guyana', 'High income', 'Hong Kong SAR, China', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti',
       'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'India', 'Ireland',
       'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'Morocco',
       'Moldova', 'Madagascar', 'Maldives', 'Middle East & North Africa',
       'Mexico', 'Marshall Islands', 'Middle income', 'North Macedonia',
       'Mali', 'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi',
       'Malaysia', 'North America', 'Namibia', 'New Caledonia', 'Niger',
       'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru',
       'New Zealand', 'OECD members', 'Oman', 'Other small states',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda',
       'Ukraine', 'Upper middle income', 'Uruguay', 'United States',
       'Uzbekistan', 'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Vietnam', 'Vanuatu', 'World', 'Samoa',
       'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

Analisando os pa√≠ses contidos nos dados percebemos que a rela√ß√£o apresenta nomes de blocos econ√¥micos e regi√µes geogr√°ficas que englobam diversas federa√ß√µes.

Para este estudo, o foco se manteve nos pa√≠ses do G20.

Criado em 1999, o G20 re√∫ne as maiores economias do mundo, incluindo pa√≠ses desenvolvidos e economias emergentes. Funciona, essencialmente, como foro para o di√°logo e a coopera√ß√£o internacional sobre temas econ√¥micos e de desenvolvimento. 

Os membros permanentes s√£o √Åfrica do Sul, Alemanha, Ar√°bia Saudita, Argentina, Austr√°lia, Brasil, Canad√°, China, Coreia do Sul, Estados Unidos, Fran√ßa, √çndia, Indon√©sia, It√°lia, Jap√£o, M√©xico, Reino Unido, R√∫ssia, Turquia e Uni√£o Europeia. Esses pa√≠ses representam 80% do Produto Interno Bruto (PIB) global, 75% das exporta√ß√µes, cerca de 70% dos investimentos diretos estrangeiros e 60% da popula√ß√£o mundial.

In [7]:
G20_countries = ['Argentina', 'Australia', 'Brazil', 'Canada', 'China', 
       'France', 'Germany', 'India', 'Indonesia', 'Italy', 
       'Japan', 'Korea, Rep.', 'Mexico', 'Russian Federation', 'Saudi Arabia', 
       'South Africa', 'Turkey', 'United Kingdom', 'United States', 'European Union']

In [8]:
G20 = pd.DataFrame()

In [9]:
for country in G20_countries:
    G20 = pd.concat([G20, df[df['country_name'] == country]])

In [10]:
G20['country_name'].unique()

array(['Argentina', 'Australia', 'Brazil', 'Canada', 'China', 'France',
       'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, Rep.',
       'Mexico', 'Russian Federation', 'Saudi Arabia', 'South Africa',
       'Turkey', 'United Kingdom', 'United States', 'European Union'],
      dtype=object)

<font size=4>Os valores da s√©rie hist√≥rica foram agrupados para identifica√ß√£o dos principais emissores de CO‚ÇÇ durante esse per√≠odo.</font>